.SortContainer {
  background-color: #fafafa;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.SortBorder {
  border: 5px solid #22b573;
  margin: 10px 20px 0px 20px;
  padding: 0px 0px 10px 0px;
  box-shadow: 0px 1px #AAA;
}

.eventName {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  color: #666;
}

.eventName p {
  text-align: center;
}

.AddEvent {
  text-align: center;
  padding-left: 15px;
  color: #666;
}

ol {
  text-align: center;
  width: 200px;
  margin: 0;
  padding: 5px 0px 0px 20px;
  background-color: #fafafa;
  counter-reset: item;
  list-style-type: decimal;
}

ol li:before {
  content: counter(item, decimal) '  |   ';
  counter-increment: item;
}

li{
  text-align: center;
  width: 200px;
  padding: 0px 0px 8px 0px;
  background-color: #fafafa;
  margin: 5px;
  color: #000;
  list-style-type: none;
  border: 2px solid #666;
  box-shadow: 1px 1px #AAA;
}
