.eventForm {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.votePeriodText {
    margin-top: 15px !important;
}

.eventForm .urlField {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: max-content;
}