.content {
    padding: 10px;
}

.rankingLabel {
    font-size: 20px;
    padding-top: 20px;
}

.removeCircleOutlineIcon {
    padding-top: 20px;
}

.organizerEvents {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    max-width: 65%;
    border: solid 1px white;
}

.addSheet.instructions {
    border: 2px solid #03a9f4;
    text-align: left;
    font-size: 105%;
    width: 50%;
    left: 25%;
}

.eventContainer {
    height: 200px;
    width: 200px;
    border: solid 2px #03a9f4;
    color: white !important;
    margin: 15px !important;
}

.eventDetails {
    margin-left: 20%;
    margin-top: 2%;
}

.eventDetails > * {
    margin-bottom: 1%;
}

.entriesList {
    margin-left: 1%;
}

.entryForm {
    margin-top: 15px;
}

.entryFormText {
    margin: 5px 5px !important;
}

.addEntryForm {
    text-align: center;
}

.addEntry {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#addEvent {
    background-color: white;
    border: solid 2px #03a9f4;
    border-radius: 5px;
}

#addCircleIcon {
    font-size: 100px;
    padding: 50px;
}

#addCircleIcon:hover {
    color: #0288D1;
}

#event_name, #event_id, #event_loc {
    width: 50%;
}

.buttons {
    flex: 1;
    margin-top: 15px !important;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
}
