.Sliders {
    margin-left: 40px;
    position: relative;
    top: 6px;
}

.SortContainer {
    background-color: #fafafa;
    box-shadow: 0 1px #AAA;
    border: 5px solid #22b573;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.eventName {
    color: #666;
    margin-top: 20px !important;
}

.AddEvent {
    text-align: center;
    padding-bottom: 15px;
    color: #666;
}

ol {
    text-align: center;
    width: 200px;
    margin: 0;
    padding: 5px 0 0 20px;
    background-color: #fafafa;
    counter-reset: item;
    list-style-type: decimal;
}

ol li:before {
    counter-increment: item;
}

li.rankings {
    text-align: center;
    width: 200px;
    padding: 0 0 8px 0;
    background-color: #fafafa;
    margin: 5px;
    color: #000;
    list-style-type: none;
    border: 2px solid #666;
    box-shadow: 1px 1px #AAA;
}

.sortHelp {
        padding-bottom: 1.25rem;
        padding-left: 2.4rem;
}
