.Sliders {
    float: right;
}

.SortContainer {
    background-color: #fafafa;
    border: 5px solid #00e676;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    /*padding-bottom: 10px;*/
    padding: .5rem .5rem;
}

.eventName {
    color: #666;
    margin-top: 20px !important;
}

#addEntry {
    font-size: 45px;
    text-align: center;
    padding-bottom: 10px;
}

ol {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    counter-reset: item;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
}

ol li:before {
    content: counter(item, decimal) "\00a0 | \00a0 \00a0";
    counter-increment: item;
}

li.rankings {
    text-align: center;
    align-self: center;
    width: 95%;
    padding: 5px 5px 5px 0;
    background-color: #fafafa;
    margin: 5px;
    color: #000;
    list-style-type: none;
    border: 2px solid #AAA;
}

.sortHelp {
        padding-bottom: 1.25rem;
        padding-left: 2.4rem;
}
