.main {
    text-align: center;
}

.manageEvent {
    background-color: pink;
}

.options {
    margin-top: 30px;
    margin-bottom: 40px;
}

.weights {
    margin-right: 20px !important;
}

.urlField {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#checkmark {
    padding-bottom: 1.5%;
    padding-left: 1.5%;
}

.box {
    border: 2px solid #03a9f4;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 150%;
    text-align: left;
    padding: 0 1px 0 1px;
}

.box > * {
    cursor: pointer;
}

.box > *:nth-child(odd) {
    background-color: #EEE;
}

.addVoteBox {
    border: 2px solid #03a9f4;
    margin: auto;
    width: 90%;
    font-size: 150%;
    text-align: left;
    padding: 0 1px 0 1px;
}

.addVoteBox > * {
    cursor: pointer;
}

.addVoteBox > *:nth-child(odd) {
    background-color: #EEE;
}

.button1 {
    margin: 10px !important;
}

.listButtons {
    display: flex;
    width: 100%;
}

.sheetURL {
    min-width: 100px;
    width: 60%;
}

.instructions {
    border: 2px solid #03a9f4;
    text-align: left;
    font-size: 105%;
    padding: 1px;
}

.note {
    margin-left: 5%;
    padding-top: 1%;
    opacity: .6;
}

.instructions > * {
    padding: 1%;
}

/* .instructions > *:nth-child(odd) {
    background-color: #EEE;
} */

.saveItems {
    display: flex;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

.manualBallots {
    width: 100%;
    min-width: 200px;
}

.sheetsExport {
    width: 100%;
    min-width: 200px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .saveItems {
        width: 80%;
    }

    .manualBallots {
        width: 50%;
    }

    .sheetsExport {
        width: 50%;
    }
}