/* Voter View Styling */

/* SubmitConfirm.js Style */
.SubmissionPage {
    text-align: center;
}
  
.submissionText {
    padding: 60px 20px 20px;
}

.questionText {
    padding: 0 20px;
    margin-top: 2rem;
    margin-left: .5rem;
}

.buttonContainer {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 3rem;
    overflow: hidden;
    padding: .5rem .5rem;
}

.confirmButton {
    width: 60px;
    float: right;
    text-align: center;
}

.goBackButton {
    width: 60px;
    float: left;
    text-align: center;
}

/* Submitted.js Style */
.homeButton {
    width: 60px;
    text-align: center;
}

/* JoinEvent.js Style */
.textField {
    margin: 0 10px;
    text-align: center;
}

.QRText {
    padding: 10px 30px;
}

.submitButtonContainer {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}